<h2>Posiłek: {{ meal.name }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2>Składniki: </h2>
{% for component in meal.components.all %}
    <ul>
        <li>{{ component.name }}</li>
    </ul>
{% endfor %}
<h2>Cena: {{ meal.price }}</h2>
<h2>Rodzaj posiłku: {{ meal.meal_type }}</h2>