{% if meals %}
    <ul>
        {%  for meal in meals %}
            <li><a href="{% url 'meal:detail' meal.id %}">{{ meal.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available</p>
{% endif %}